Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

was passing wrong connection string
  src/deployment/azuredeploy.bicep
  src/deployment/bicep-templates/function-settings.bicep
  src/deployment/bicep-templates/function.bicep
Due: none

remove commented out code
  src/deployment/bicep-templates/storageAccounts.bicep
Due: none

do not expose secrets during deployment
  src/deployment/azuredeploy.bicep
  src/deployment/bicep-templates/function-settings.bicep
  src/deployment/bicep-templates/function.bicep
  src/deployment/bicep-templates/signalR.bicep
  src/deployment/bicep-templates/storageAccounts.bicep
Due: none

do not expose secrets as part of deployment output during azure deployment (#3578)
  src/deployment/azuredeploy.bicep
  src/deployment/bicep-templates/function-settings.bicep
  src/deployment/bicep-templates/function.bicep
  src/deployment/bicep-templates/signalR.bicep
  src/deployment/bicep-templates/storageAccounts.bicep
Due: none

Adding coverage output to every iteration of coverage task.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Emit `CrashReported` Metric to App insights. (#3571)
  src/agent/onefuzz-task/src/tasks/report/crash_report.rs
  src/agent/onefuzz-telemetry/src/lib.rs
  src/proxy-manager/Cargo.lock
Due: OneFuzz Agent

Move from PUT to PATCH
  src/ApiService/ApiService/Functions/Containers.cs
  src/cli/onefuzz/api.py
Due: OneFuzz CLI, OneFuzz Service

Scoped notification pause (#3579)
  src/ApiService/ApiService/Functions/Containers.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/onefuzzlib/Containers.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/Reports.cs
  src/cli/onefuzz/api.py
  src/pytypes/onefuzztypes/enums.py
  src/pytypes/onefuzztypes/requests.py
Due: OneFuzz CLI, OneFuzz Service

Create job after the upload is done - Decoupled the job creation from the JobHelper initialization - Move the job creation after the all the files have been uploaded
  src/cli/examples/domato.py
  src/cli/examples/honggfuzz.py
  src/cli/examples/llvm-source-coverage/source-coverage-libfuzzer.py
  src/cli/examples/llvm-source-coverage/source-coverage.py
  src/cli/onefuzz/api.py
  src/cli/onefuzz/templates/__init__.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
  src/cli/tests/test_template_helper.py
Due: OneFuzz CLI

build fix
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/tests/test_template_helper.py
Due: OneFuzz CLI

Updating calls.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Removing seen_input check.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Input path must be absolute
  src/agent/onefuzz/src/libfuzzer.rs
Due: OneFuzz Agent

Adding coverage_empty metric
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-telemetry/src/lib.rs
Due: OneFuzz Agent

Adding metric for empty coverage.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-telemetry/src/lib.rs
Due: OneFuzz Agent

Fixing.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

report CrashReported instead
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Responses.cs
  src/ApiService/ApiService/Program.cs
  src/ApiService/ApiService/onefuzzlib/JobCrashReported.cs
  src/ApiService/ApiService/onefuzzlib/OnefuzzContext.cs
  src/ApiService/IntegrationTests/JobsTests.cs
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Service

Add real link to docs for task OOM
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

isort
  src/cli/tests/test_template_helper.py
Due: OneFuzz CLI

Add a field to the job summary to indicate if at least one bug was created
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Responses.cs
  src/ApiService/ApiService/Program.cs
  src/ApiService/ApiService/onefuzzlib/JobCrashReported.cs
  src/ApiService/ApiService/onefuzzlib/OnefuzzContext.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/ApiService/IntegrationTests/Fakes/TestContext.cs
  src/ApiService/IntegrationTests/JobsTests.cs
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Service

format
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/ApiService/IntegrationTests/Fakes/TestContext.cs
Due: OneFuzz Service

fix test
  src/ApiService/ApiService/onefuzzlib/JobCrashReported.cs
Due: OneFuzz Service

Create job after the upload is done (#3608)
  src/cli/examples/domato.py
  src/cli/examples/honggfuzz.py
  src/cli/examples/llvm-source-coverage/source-coverage-libfuzzer.py
  src/cli/examples/llvm-source-coverage/source-coverage.py
  src/cli/onefuzz/api.py
  src/cli/onefuzz/templates/__init__.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
  src/cli/tests/test_template_helper.py
Due: OneFuzz CLI

New metric for empty coverage (#3610)
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-telemetry/src/lib.rs
Due: OneFuzz Agent

Add `coverage_stats` metric to inner loop to increase output. (#3607)
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Path conditions:
  OneFuzz Agent: any of: src/agent/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz CLI: any of: src/cli/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz Service: any of: src/ApiService/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
