Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

Reporting coverage on task start up
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz/src/syncdir.rs
Due: OneFuzz Agent

Update azure_* crates
  src/agent/Cargo.lock
  src/agent/onefuzz-agent/Cargo.toml
  src/agent/onefuzz-task/Cargo.toml
Due: OneFuzz Agent

Improve handling of unexpected breakpoints (#3493)
  src/agent/coverage/src/record/windows.rs
Due: OneFuzz Agent

Moving metric up.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Update azure_* crates (#3503)
  src/agent/Cargo.lock
  src/agent/onefuzz-agent/Cargo.toml
  src/agent/onefuzz-task/Cargo.toml
Due: OneFuzz Agent

Fix fuzz
  src/agent/coverage/fuzz/Cargo.lock
  src/agent/coverage/fuzz/fuzz_targets/fuzz_target_record_coverage.rs
Due: OneFuzz Agent

Fuzz coverage recording (#3322)
  src/agent/coverage/fuzz/.gitignore
  src/agent/coverage/fuzz/Cargo.lock
  src/agent/coverage/fuzz/Cargo.toml
  src/agent/coverage/fuzz/fuzz_targets/fuzz_target_record_coverage.rs
Due: OneFuzz Agent

Reporting coverage on task start up (#3502)
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz/src/syncdir.rs
Due: OneFuzz Agent

Support for retention policies on containers
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
Due: OneFuzz Service

Silence analysis
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

"namespace" metadata
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
Due: OneFuzz Service

Remove feature flag from heartbeat metrics.
  src/ApiService/ApiService/Functions/QueueNodeHeartbeat.cs
  src/ApiService/ApiService/Functions/QueueTaskHeartbeat.cs
Due: OneFuzz Service

Define retention periods from CLI
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
  src/cli/onefuzz/api.py
  src/cli/onefuzz/templates/__init__.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz CLI, OneFuzz Service

Remove additional value from model
  src/pytypes/onefuzztypes/models.py
Due: none

Unused import
  src/pytypes/onefuzztypes/models.py
Due: none

Add feature flag and perform update concurrently
  src/ApiService/ApiService/FeatureFlags.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

Remove feature flag from heartbeat metrics. (#3505)
  src/ApiService/ApiService/Functions/QueueNodeHeartbeat.cs
  src/ApiService/ApiService/Functions/QueueTaskHeartbeat.cs
Due: OneFuzz Service

ContainerTemplate should be a template-only concept
  src/cli/onefuzz/api.py
  src/cli/onefuzz/templates/__init__.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
Due: OneFuzz CLI

Use container_name more consistently
  src/cli/onefuzz/templates/__init__.py
Due: OneFuzz CLI

Reformat
  src/cli/onefuzz/templates/__init__.py
Due: OneFuzz CLI

Typing fixes
  src/cli/examples/domato.py
  src/cli/examples/honggfuzz.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/radamsa.py
Due: OneFuzz CLI

Missing return type
  src/cli/onefuzz/templates/__init__.py
Due: OneFuzz CLI

Update examples
  src/cli/examples/llvm-source-coverage/source-coverage-libfuzzer.py
  src/cli/examples/llvm-source-coverage/source-coverage.py
Due: OneFuzz CLI

Bump CLI Python version
  .github/workflows/ci.yml
Due: none

Bump others as well
  .github/workflows/ci.yml
Due: none

quotes
  .github/workflows/ci.yml
Due: none

Actually need 3.11 for Self
  .github/workflows/ci.yml
Due: none

Revert "Actually need 3.11 for Self"
  .github/workflows/ci.yml
Due: none

Forward reference instead of Self
  src/cli/onefuzz/templates/__init__.py
Due: OneFuzz CLI

ugh
  src/cli/onefuzz/templates/__init__.py
Due: OneFuzz CLI

Update archive notice.
  README.md
Due: none

Update archive notice. (#3507)
  README.md
Due: none

Testing out webhook metrics.
  src/ApiService/ApiService/OneFuzzTypes/Events.cs
  src/ApiService/ApiService/onefuzzlib/WebhookOperations.cs
Due: OneFuzz Service

Default-enable retention policy feature flag
  src/deployment/bicep-templates/feature-flags.bicep
Due: none

Add additional log method
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

Update to merged version, update tests as well
  src/agent/Cargo.lock
  src/agent/cobertura/Cargo.toml
  src/agent/cobertura/src/lib.rs
  src/agent/coverage/Cargo.toml
  src/agent/coverage/examples/cobertura.rs
Due: OneFuzz Agent

Renaming
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
Due: OneFuzz Service

Better logging
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz Service

Compare task version to service version
  src/agent/onefuzz-task/src/check_for_update.rs
  src/agent/onefuzz-task/src/main.rs
Due: OneFuzz Agent

Swallow output when looking for appropriate name
  src/agent/onefuzz-task/src/check_for_update.rs
Due: OneFuzz Agent

Path conditions:
  OneFuzz Agent: any of: src/agent/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz CLI: any of: src/cli/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz Service: any of: src/ApiService/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
