Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

codecov.yml:

ignore:
  - "src/agent/**/examples/"
  - "src/ApiService/*Tests/"

component_management:
  individual_components:
    - component_id: agent
      name: OneFuzz Agent
      paths:
        - src/agent/**
    - component_id: cli
      name: OneFuzz CLI
      paths:
        - src/cli/**
    - component_id: service
      name: OneFuzz Service
      paths:
        - src/ApiService/**

removing?
  src/proxy-manager/Cargo.lock
Due: none

Removing additional repro test step (#3568)
  src/integration-tests/integration-test.py
  src/proxy-manager/Cargo.lock
Due: none

Update the printed message for debug logs get to be more accurate
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Addressing comments.
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Fix min() that was being passed an Optional[int]
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Negate equality operator
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Change != to 'is not'
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Corrected.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Updating.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Make --all and --last noops, add --out_dir, and always download all log files
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Add del statements for unused parameters
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Comment.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Removing storage account key dependency.
  src/deployment/deploy.py
Due: none

Remove comments.
  src/deployment/deploy.py
Due: none

Replacing with Update to deal with edge cases.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

lint
  src/deployment/deploy.py
  src/deployment/set_admins.py
Due: none

Setting deploy.
  src/deployment/deploy.py
Due: none

removing static.
  src/deployment/deploy.py
Due: none

Trying different sort.
  src/deployment/deploy.py
  src/deployment/set_admins.py
Due: none

Reordering.
  src/deployment/deploy.py
  src/deployment/set_admins.py
Due: none

Resetting.
  src/deployment/deploy.py
  src/deployment/set_admins.py
Due: none

Return the failure from NotifyAdo as result instead of an exception (#3555)
  src/ApiService/ApiService/Functions/NotificationsTest.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/TestHooks/NotificationOperationsTestHooks.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz Service

testing
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/Log.cs
  src/ApiService/ApiService/Program.cs
  src/cli/onefuzz/backend.py
Due: OneFuzz CLI, OneFuzz Service

Remove storage key dependency from deployment script (#3574)
  src/deployment/deploy.py
Due: none

Using timestamp.
  src/agent/Cargo.lock
  src/agent/onefuzz-result/Cargo.toml
  src/agent/onefuzz-result/src/job_result.rs
Due: OneFuzz Agent

Adding CreatedAt field.
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
  src/agent/Cargo.lock
  src/agent/onefuzz-result/Cargo.toml
  src/agent/onefuzz-result/src/job_result.rs
Due: OneFuzz Agent, OneFuzz Service

Comparing timestamps.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Remove unnecessary import
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Add missing parameter
  src/ApiService/ApiService/onefuzzlib/notifications/JinjaTemplateAdapter.cs
Due: OneFuzz Service

Add logging to indicate the configured min_available_memory
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Add min_available_memory_mb to cli and service configs to be passed to agent
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/Config.cs
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Service

Add min_available_memory_mb to task create and template parameters
  src/cli/onefuzz/api.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
Due: OneFuzz CLI

Update webhook_events.py
  docs/webhook_events.md
Due: none

fix
  src/cli/onefuzz/backend.py
Due: OneFuzz CLI

test change
  src/pytypes/onefuzztypes/models.py
Due: none

original version of docs.
  docs/webhook_events.md
Due: none

Setting propery.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Update webhook_events.py again
  docs/webhook_events.md
Due: none

Don't start memory checking task when min_available_memory_mb is zero
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

cargo fmt
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent
