Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

updating Ubuntu 20 refs to Ubuntu 22
  docs/getting-started.md
  docs/supported-platforms.md
  docs/webhook_events.md
  src/ApiService/ApiService/onefuzzlib/ImageReference.cs
  src/pytypes/extra/generate-docs.py
  src/pytypes/onefuzztypes/models.py
  src/pytypes/tests/test_models.py
Due: OneFuzz Service

cleanup
  .github/workflows/sync-fork.yml
Due: none

Fix import order
  src/cli/onefuzz/backend.py
Due: OneFuzz CLI

fix str.lower on optional str
  src/cli/onefuzz/backend.py
Due: OneFuzz CLI

readd line
  docs/webhook_events.md
Due: none

Rename TestCliVersion to CheckCliVersion
  src/ApiService/ApiService/Program.cs
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
Due: OneFuzz Service

Laying groundwork
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/onefuzzlib/Containers.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/Reports.cs
Due: OneFuzz Service

Use OneFuzzResultVoid instead of nullabe Error
  src/ApiService/ApiService/Program.cs
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
Due: OneFuzz Service

Change version parser to Semver
  src/ApiService/ApiService/ApiService.csproj
  src/ApiService/ApiService/Program.cs
  src/ApiService/ApiService/onefuzzlib/Versions.cs
  src/ApiService/ApiService/packages.lock.json
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
  src/ApiService/FunctionalTests/packages.lock.json
Due: OneFuzz Service

Create new `CrashReported` metric that track report upload attempts (#3567)
  src/agent/onefuzz-result/src/job_result.rs
  src/agent/onefuzz-task/src/tasks/report/crash_report.rs
Due: OneFuzz Agent

Restore projects that use ApiService
  src/ApiService/IntegrationTests/packages.lock.json
  src/ApiService/Tests/packages.lock.json
Due: OneFuzz Service

Add a prerelease version test case
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
Due: OneFuzz Service

Emit CrashReported Metric to App insights.
  src/agent/onefuzz-task/src/tasks/report/crash_report.rs
  src/agent/onefuzz-telemetry/src/lib.rs
Due: OneFuzz Agent

Add middleware for optional strict CLI version checking (#3564)
  src/ApiService/ApiService/ApiService.csproj
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/Program.cs
  src/ApiService/ApiService/onefuzzlib/Versions.cs
  src/ApiService/ApiService/packages.lock.json
  src/ApiService/FunctionalTests/Auth.cs
  src/ApiService/FunctionalTests/FunctionalTests.csproj
  src/ApiService/FunctionalTests/TestContainer.cs
  src/ApiService/FunctionalTests/TestInfo.cs
  src/ApiService/FunctionalTests/TestNode.cs
  src/ApiService/FunctionalTests/TestPool.cs
  src/ApiService/FunctionalTests/TestProxy.cs
  src/ApiService/FunctionalTests/TestScaleset.cs
  src/ApiService/FunctionalTests/TestTasks.cs
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
  src/ApiService/FunctionalTests/packages.lock.json
  src/ApiService/IntegrationTests/packages.lock.json
  src/ApiService/Tests/packages.lock.json
  src/cli/onefuzz/backend.py
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz CLI, OneFuzz Service

Implement ToExpand for CommonConfig
  src/agent/onefuzz-task/src/tasks/config.rs
Due: OneFuzz Agent

Add a ToExpand trait
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Rename to GetExpand and implement for all task configs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Add proptest to the crate and a simple test function (broken)
  src/agent/Cargo.lock
  src/agent/onefuzz-task/Cargo.toml
  src/agent/onefuzz-task/src/lib.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/test_utils.rs
Due: OneFuzz Agent

Update comments
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
Due: OneFuzz Agent

Fix build checks
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/lib.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

Undo unintentional changes
  src/integration-tests/integration-test.py
Due: none

Undo comment
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
Due: OneFuzz Agent

Implement tests for merge task
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
Due: OneFuzz Agent

Resolve merge conflict
  src/agent/onefuzz/src/syncdir.rs
Due: OneFuzz Agent

Fix import issues
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/test_utils.rs
Due: OneFuzz Agent

Add config tests for analysis task
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/lib.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
Due: OneFuzz Agent

Add missing newline
  src/integration-tests/integration-test.py
Due: none

Return Result from get_expand() and implement for the rest of the configs
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Replace common test code with a declarative macro
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/lib.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

Format code
  src/agent/onefuzz-task/src/config_test_utils.rs
Due: OneFuzz Agent

Fix build checks
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

Simplify URL arbitrary even further to guarantee that it's parseable
  src/agent/onefuzz-task/src/config_test_utils.rs
Due: OneFuzz Agent

Fix indented line
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
Due: OneFuzz Agent

Fix build checks - lifetime elision
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Fix linux test imports
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
Due: OneFuzz Agent

Almost there
  src/ApiService/ApiService/Functions/Containers.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/Reports.cs
Due: OneFuzz Service

CLI updates
  src/cli/onefuzz/api.py
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz CLI

Fixing.
  src/agent/onefuzz-task/src/tasks/report/crash_report.rs
  src/agent/onefuzz-telemetry/src/lib.rs
Due: OneFuzz Agent

Path conditions:
  OneFuzz Agent: any of: src/agent/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz CLI: any of: src/cli/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz Service: any of: src/ApiService/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
