Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

Add onefuzz service version to job created events
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/OneFuzzTypes/Events.cs
Due: OneFuzz Service

Add onefuzz service version to job created events (#3504)
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/OneFuzzTypes/Events.cs
Due: OneFuzz Service

Create directories if they don't exist in the template
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/tests/template_integration.rs
Due: OneFuzz Agent

fmt
  src/agent/onefuzz-task/src/local/template.rs
Due: OneFuzz Agent

Tevoinea/add version checking in local tasks (#3517)
  src/agent/onefuzz-task/src/check_for_update.rs
  src/agent/onefuzz-task/src/main.rs
Due: OneFuzz Agent

Create directories if they don't exist in the template (#3522)
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/tests/template_integration.rs
Due: OneFuzz Agent

Make modules and coverage allowlist case insensitive on Windows
  src/agent/coverage/src/allowlist.rs
  src/agent/debugger/src/module.rs
Due: OneFuzz Agent

Tests and fmt
  src/agent/coverage/src/allowlist.rs
  src/agent/coverage/tests/snapshot.rs
  src/agent/coverage/tests/snapshots/snapshot__windows_snapshot_tests.snap
  src/agent/coverage/tests/windows/Inlinee.cpp
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

PR comments
  src/agent/coverage/src/allowlist.rs
  src/agent/coverage/src/allowlist/tests.rs
  src/agent/coverage/src/source.rs
  src/agent/coverage/tests/snapshot.rs
  src/agent/debugger/src/module.rs
Due: OneFuzz Agent

fmt
  src/agent/coverage/src/allowlist.rs
Due: OneFuzz Agent

Debugging missing file coverage
  src/agent/coverage/tests/snapshot.rs
Due: OneFuzz Agent

fmt
  src/agent/debugger/src/module.rs
Due: OneFuzz Agent

Broken linux test
  src/agent/coverage/src/allowlist/tests.rs
Due: OneFuzz Agent

Add a case insensitive transformer for better perf
  src/agent/coverage/src/source.rs
Due: OneFuzz Agent

cargo fix
  src/agent/coverage/src/source.rs
Due: OneFuzz Agent

Update windows interceptor list
  src/agent/onefuzz-task/src/tasks/coverage/generic/windows-interceptor.list
Due: OneFuzz Agent

Terminate process on timeout in windows for the coverage task
  src/agent/Cargo.lock
  src/agent/coverage/Cargo.toml
  src/agent/coverage/src/record.rs
Due: OneFuzz Agent

Support for retention policies on containers (#3501)
  .github/workflows/ci.yml
  src/ApiService/ApiService/FeatureFlags.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/RententionPolicy.cs
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
  src/cli/examples/domato.py
  src/cli/examples/honggfuzz.py
  src/cli/examples/llvm-source-coverage/source-coverage-libfuzzer.py
  src/cli/examples/llvm-source-coverage/source-coverage.py
  src/cli/onefuzz/templates/__init__.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
  src/deployment/bicep-templates/feature-flags.bicep
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz CLI, OneFuzz Service

set the timeout before we start the debugger
  src/agent/coverage/src/record.rs
Due: OneFuzz Agent

Tasks are selectable
  src/agent/onefuzz-task/src/local/cmd.rs
  src/agent/onefuzz-task/src/local/create_template.rs
  src/agent/onefuzz-task/src/local/mod.rs
  src/agent/onefuzz-task/src/local/template.rs
Due: OneFuzz Agent

Almost there
  src/agent/onefuzz-task/src/local/coverage.rs
  src/agent/onefuzz-task/src/local/create_template.rs
  src/agent/onefuzz-task/src/local/generic_analysis.rs
  src/agent/onefuzz-task/src/local/generic_crash_report.rs
  src/agent/onefuzz-task/src/local/generic_generator.rs
  src/agent/onefuzz-task/src/local/libfuzzer.rs
  src/agent/onefuzz-task/src/local/libfuzzer_crash_report.rs
  src/agent/onefuzz-task/src/local/libfuzzer_merge.rs
  src/agent/onefuzz-task/src/local/libfuzzer_regression.rs
  src/agent/onefuzz-task/src/local/libfuzzer_test_input.rs
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/src/local/test_input.rs
Due: OneFuzz Agent

It works
  src/agent/onefuzz-task/src/local/create_template.rs
Due: OneFuzz Agent

fmt
  src/agent/onefuzz-task/src/local/cmd.rs
  src/agent/onefuzz-task/src/local/create_template.rs
Due: OneFuzz Agent

remove dead code
  src/agent/onefuzz-task/src/local/create_template.rs
Due: OneFuzz Agent

Remove unnecessary comments
  src/agent/onefuzz-task/src/local/create_template.rs
Due: OneFuzz Agent

Improve instructions
  src/agent/onefuzz-task/src/local/create_template.rs
Due: OneFuzz Agent

fix bug
  src/agent/onefuzz-task/src/local/create_template.rs
Due: OneFuzz Agent

split the target launch from the debugger initialization wait for the process to finish on a separate thread
  src/agent/coverage/src/record.rs
  src/agent/debugger/src/debugger.rs
Due: OneFuzz Agent

fix build
  src/agent/coverage/src/timer.rs
Due: OneFuzz Agent

Disable `repro` and `debug` VM CLI commands. (#3494)
  src/cli/onefuzz/api.py
  src/cli/onefuzz/debug.py
  src/integration-tests/integration-test.py
Due: OneFuzz CLI

move comments
  src/agent/coverage/src/record.rs
Due: OneFuzz Agent

Ignore regression update when the work item is in some states
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/ApiService/IntegrationTests/JinjaToScribanMigrationTests.cs
  src/ApiService/Tests/OrmModelsTest.cs
  src/cli/onefuzz/api.py
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz CLI, OneFuzz Service

format
  src/pytypes/onefuzztypes/models.py
Due: none

formatting
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/cli/onefuzz/api.py
Due: OneFuzz CLI, OneFuzz Service

don't hide messages in the poison queue
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

fix typo
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

Add some dummy values for paths
  src/agent/onefuzz-task/src/local/coverage.rs
  src/agent/onefuzz-task/src/local/generic_analysis.rs
  src/agent/onefuzz-task/src/local/generic_crash_report.rs
  src/agent/onefuzz-task/src/local/generic_generator.rs
  src/agent/onefuzz-task/src/local/libfuzzer.rs
  src/agent/onefuzz-task/src/local/libfuzzer_crash_report.rs
  src/agent/onefuzz-task/src/local/libfuzzer_merge.rs
  src/agent/onefuzz-task/src/local/libfuzzer_regression.rs
  src/agent/onefuzz-task/src/local/libfuzzer_test_input.rs
  src/agent/onefuzz-task/src/local/test_input.rs
Due: OneFuzz Agent

Make modules case insenstive on windows (#3527)
  src/agent/coverage/src/allowlist.rs
  src/agent/coverage/src/allowlist/tests.rs
  src/agent/coverage/src/source.rs
  src/agent/coverage/tests/snapshot.rs
  src/agent/coverage/tests/snapshots/snapshot__windows_snapshot_tests.snap
  src/agent/coverage/tests/windows/Inlinee.cpp
  src/agent/debugger/src/module.rs
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Update windows interceptor list (#3528)
  src/agent/onefuzz-task/src/tasks/coverage/generic/windows-interceptor.list
Due: OneFuzz Agent

Template creation command (#3531)
  src/agent/onefuzz-task/src/local/cmd.rs
  src/agent/onefuzz-task/src/local/coverage.rs
  src/agent/onefuzz-task/src/local/create_template.rs
  src/agent/onefuzz-task/src/local/generic_analysis.rs
  src/agent/onefuzz-task/src/local/generic_crash_report.rs
  src/agent/onefuzz-task/src/local/generic_generator.rs
  src/agent/onefuzz-task/src/local/libfuzzer.rs
  src/agent/onefuzz-task/src/local/libfuzzer_crash_report.rs
  src/agent/onefuzz-task/src/local/libfuzzer_merge.rs
  src/agent/onefuzz-task/src/local/libfuzzer_regression.rs
  src/agent/onefuzz-task/src/local/libfuzzer_test_input.rs
  src/agent/onefuzz-task/src/local/mod.rs
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/src/local/test_input.rs
Due: OneFuzz Agent

Path conditions:
  OneFuzz Agent: any of: src/agent/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz CLI: any of: src/cli/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz Service: any of: src/ApiService/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
