Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

codecov.yml:

ignore:
  - "src/agent/**/examples/"
  - "src/ApiService/*Tests/"

component_management:
  individual_components:
    - component_id: agent
      name: OneFuzz Agent
      paths:
        - src/agent/**
    - component_id: cli
      name: OneFuzz CLI
      paths:
        - src/cli/**
    - component_id: service
      name: OneFuzz Service
      paths:
        - src/ApiService/**

Upgrade proptest version
  src/agent/Cargo.lock
  src/agent/onefuzz-task/Cargo.toml
Due: OneFuzz Agent

Remove comments
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/radamsa.py
Due: OneFuzz CLI

Implement Default for CommonConfig
  src/agent/onefuzz-task/src/local/common.rs
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
Due: OneFuzz Agent

Remove the GetExpand trait
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Return Expand instead of Result<Expand>
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

cargo fmt
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

Add min_available_memory_mb to libfuzzer's _create_tasks()
  src/cli/onefuzz/templates/libfuzzer.py
Due: OneFuzz CLI

Remove unused import
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
Due: OneFuzz Agent

logging stop jobs error in the integration test
  src/integration-tests/integration-test.py
Due: none

Add fuzzer for coverage allowlist parse function
  src/agent/coverage/fuzz/Cargo.lock
  src/agent/coverage/fuzz/Cargo.toml
  src/agent/coverage/fuzz/fuzz_targets/fuzz_target_allowlist_parse.rs
Due: OneFuzz Agent

Remove unused code
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
Due: OneFuzz Service

cleanup
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/onefuzzlib/Containers.cs
Due: OneFuzz Service

Broken test
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
Due: OneFuzz Service

fmt
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

.
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

🥹
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

forgot a file
  src/pytypes/onefuzztypes/requests.py
Due: none

Add a megabyte converted value for min available memory logs
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Use float instead of int for division
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

fix dependencies
  src/ApiService/ApiService/ApiService.csproj
  src/ApiService/ApiService/packages.lock.json
  src/ApiService/FunctionalTests/FunctionalTests.csproj
  src/ApiService/FunctionalTests/packages.lock.json
  src/ApiService/IntegrationTests/packages.lock.json
  src/ApiService/Tests/packages.lock.json
Due: OneFuzz Service

more logging
  src/cli/onefuzz/backend.py
Due: OneFuzz CLI

Make `min_available_memory_mb` configurable (#3577)
  docs/webhook_events.md
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/Config.cs
  src/ApiService/ApiService/onefuzzlib/notifications/JinjaTemplateAdapter.cs
  src/agent/onefuzz-task/src/managed/cmd.rs
  src/cli/onefuzz/api.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

Fix PR comments (see full message for details)
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
Due: OneFuzz Agent

Make `debug logs get` behave more intuitively (#3573)
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Add fuzzer for coverage allowlist parse function (#3580)
  src/agent/coverage/fuzz/Cargo.lock
  src/agent/coverage/fuzz/Cargo.toml
  src/agent/coverage/fuzz/fuzz_targets/fuzz_target_allowlist_parse.rs
Due: OneFuzz Agent

Update dotnet coverage task Expander tests
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
Due: OneFuzz Agent

more logging
  src/cli/onefuzz/backend.py
  src/integration-tests/integration-test.py
Due: OneFuzz CLI

more logs
  src/cli/onefuzz/backend.py
  src/integration-tests/integration-test.py
Due: OneFuzz CLI

more logging
  src/ApiService/ApiService/onefuzzlib/JobOperations.cs
Due: OneFuzz Service

Remove incorrect expansion variable from generic merge task
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
Due: OneFuzz Agent

Add a `GetExpand` trait for initializing `Expand` objects in our tasks (#3553)
  CURRENT_VERSION
  src/agent/Cargo.lock
  src/agent/onefuzz-task/Cargo.toml
  src/agent/onefuzz-task/src/config_test_utils.rs
  src/agent/onefuzz-task/src/lib.rs
  src/agent/onefuzz-task/src/local/common.rs
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/src/tasks/analysis/generic.rs
  src/agent/onefuzz-task/src/tasks/config.rs
  src/agent/onefuzz-task/src/tasks/coverage/dotnet.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/generator.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
  src/agent/onefuzz-task/src/tasks/merge/generic.rs
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

Early days
  src/agent/Cargo.lock
  src/agent/coverage/Cargo.toml
  src/agent/coverage/src/source.rs
  src/agent/debuggable-module/Cargo.toml
  src/agent/debuggable-module/src/block.rs
Due: OneFuzz Agent

don't fail on cancelled task
  src/integration-tests/integration-test.py
Due: none

Add input_path to dotnet report task expander
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

kanan's fix
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

more logs
  src/integration-tests/integration-test.py
Due: none

testing
  src/integration-tests/integration-test.py
Due: none

Organize the code a bit
  src/agent/debuggable-module/src/block/arm64.rs
  src/agent/debuggable-module/src/block/mod.rs
  src/agent/debuggable-module/src/block/x86_64.rs
Due: OneFuzz Agent

Updating Ubuntu 20.04 to Ubuntu 22.04 for OneFuzz defaults (#3570)
  docs/getting-started.md
  docs/supported-platforms.md
  docs/webhook_events.md
  src/ApiService/ApiService/onefuzzlib/ImageReference.cs
  src/pytypes/extra/generate-docs.py
  src/pytypes/onefuzztypes/models.py
  src/pytypes/tests/test_models.py
Due: OneFuzz Service

update pulled rust crate for ahash
  src/agent/Cargo.lock
Due: OneFuzz Agent
