Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

codecov.yml:

ignore:
  - "src/agent/**/examples/"
  - "src/ApiService/*Tests/"

component_management:
  individual_components:
    - component_id: agent
      name: OneFuzz Agent
      paths:
        - src/agent/**
    - component_id: cli
      name: OneFuzz CLI
      paths:
        - src/cli/**
    - component_id: service
      name: OneFuzz Service
      paths:
        - src/ApiService/**

Remove unnecessary method argument (#3473)
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
Due: OneFuzz Service

Update readme with archive message (#3408)
  README.md
Due: none

Release 8.8.0 (#3466)
  CHANGELOG.md
  CURRENT_VERSION
Due: none

Update windows interceptor list (#3528)
  src/agent/onefuzz-task/src/tasks/coverage/generic/windows-interceptor.list
Due: OneFuzz Agent

Fix sed checks for CLI versioning (#3486)
  src/ci/set-versions.sh
  src/ci/unset-versions.sh
  src/cli/requirements.txt
Due: OneFuzz CLI

Fuzz coverage recording (#3322)
  src/agent/coverage/fuzz/.gitignore
  src/agent/coverage/fuzz/Cargo.lock
  src/agent/coverage/fuzz/Cargo.toml
  src/agent/coverage/fuzz/fuzz_targets/fuzz_target_record_coverage.rs
Due: OneFuzz Agent

Redo 8.7.1 (#3469)
  CHANGELOG.md
  CURRENT_VERSION
Due: none

Support custom ado fields that mark work items as duplicate (#3467)
  contrib/onefuzz-job-azure-devops-pipeline/ado-work-items.json
  docs/notifications/ado.md
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/ApiService/IntegrationTests/JinjaToScribanMigrationTests.cs
  src/ApiService/Tests/OrmModelsTest.cs
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Service

Updating requirements.txt to accept >= onefuzztypes. (#3477)
  src/ci/set-versions.sh
  src/ci/unset-versions.sh
  src/cli/requirements.txt
Due: OneFuzz CLI

Improve area/iteration path validation (#3489)
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/ApiService/Tests/TreePathTests.cs
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz Service

Update azure_* crates (#3503)
  src/agent/Cargo.lock
  src/agent/onefuzz-agent/Cargo.toml
  src/agent/onefuzz-task/Cargo.toml
Due: OneFuzz Agent

Bump azure_* crates (#3478)
  src/agent/Cargo.lock
  src/agent/onefuzz-agent/Cargo.toml
  src/agent/onefuzz-task/Cargo.toml
Due: OneFuzz Agent

Starting integration tests (#3438)
  .github/workflows/ci.yml
  src/agent/Cargo.lock
  src/agent/coverage/Cargo.toml
  src/agent/coverage/src/record/linux/debugger.rs
  src/agent/onefuzz-task/Cargo.toml
  src/agent/onefuzz-task/src/lib.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz-task/src/tasks/fuzz/libfuzzer/common.rs
  src/agent/onefuzz-task/tests/template_integration.rs
  src/agent/onefuzz-task/tests/templates/libfuzzer_basic.yml
  src/agent/onefuzz/Cargo.toml
  src/agent/onefuzz/src/libfuzzer.rs
  src/ci/agent.sh
Due: OneFuzz Agent

Improve handling of unexpected breakpoints (#3493)
  src/agent/coverage/src/record/windows.rs
Due: OneFuzz Agent

Update archive notice. (#3507)
  README.md
Due: none

Support for retention policies on containers (#3501)
  .github/workflows/ci.yml
  src/ApiService/ApiService/FeatureFlags.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/RententionPolicy.cs
  src/ApiService/ApiService/onefuzzlib/RetentionPolicy.cs
  src/cli/examples/domato.py
  src/cli/examples/honggfuzz.py
  src/cli/examples/llvm-source-coverage/source-coverage-libfuzzer.py
  src/cli/examples/llvm-source-coverage/source-coverage.py
  src/cli/onefuzz/templates/__init__.py
  src/cli/onefuzz/templates/afl.py
  src/cli/onefuzz/templates/libfuzzer.py
  src/cli/onefuzz/templates/ossfuzz.py
  src/cli/onefuzz/templates/radamsa.py
  src/cli/onefuzz/templates/regression.py
  src/deployment/bicep-templates/feature-flags.bicep
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz CLI, OneFuzz Service

Ignore regression update when the work item is in some states (#3532)
  docs/webhook_events.md
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/onefuzzlib/Reports.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/cli/onefuzz/cli.py
  src/cli/onefuzz/debug.py
  src/pytypes/onefuzztypes/models.py
  src/pytypes/onefuzztypes/requests.py
Due: OneFuzz CLI, OneFuzz Service

Disable `repro` and `debug` VM CLI commands. (#3494)
  src/cli/onefuzz/api.py
  src/cli/onefuzz/debug.py
  src/integration-tests/integration-test.py
Due: OneFuzz CLI

Create directories if they don't exist in the template (#3522)
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/tests/template_integration.rs
Due: OneFuzz Agent

Template creation command (#3531)
  src/agent/onefuzz-task/src/local/cmd.rs
  src/agent/onefuzz-task/src/local/coverage.rs
  src/agent/onefuzz-task/src/local/create_template.rs
  src/agent/onefuzz-task/src/local/generic_analysis.rs
  src/agent/onefuzz-task/src/local/generic_crash_report.rs
  src/agent/onefuzz-task/src/local/generic_generator.rs
  src/agent/onefuzz-task/src/local/libfuzzer.rs
  src/agent/onefuzz-task/src/local/libfuzzer_crash_report.rs
  src/agent/onefuzz-task/src/local/libfuzzer_merge.rs
  src/agent/onefuzz-task/src/local/libfuzzer_regression.rs
  src/agent/onefuzz-task/src/local/libfuzzer_test_input.rs
  src/agent/onefuzz-task/src/local/mod.rs
  src/agent/onefuzz-task/src/local/template.rs
  src/agent/onefuzz-task/src/local/test_input.rs
Due: OneFuzz Agent

Make modules case insenstive on windows (#3527)
  src/agent/coverage/src/allowlist.rs
  src/agent/coverage/src/allowlist/tests.rs
  src/agent/coverage/src/source.rs
  src/agent/coverage/tests/snapshot.rs
  src/agent/coverage/tests/snapshots/snapshot__windows_snapshot_tests.snap
  src/agent/coverage/tests/windows/Inlinee.cpp
  src/agent/debugger/src/module.rs
  src/agent/onefuzz/src/expand.rs
Due: OneFuzz Agent

Remove feature flag from heartbeat metrics. (#3505)
  src/ApiService/ApiService/Functions/QueueNodeHeartbeat.cs
  src/ApiService/ApiService/Functions/QueueTaskHeartbeat.cs
Due: OneFuzz Service

Reporting coverage on task start up (#3502)
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
  src/agent/onefuzz/src/syncdir.rs
Due: OneFuzz Agent

Tevoinea/add version checking in local tasks (#3517)
  src/agent/onefuzz-task/src/check_for_update.rs
  src/agent/onefuzz-task/src/main.rs
Due: OneFuzz Agent

Terminate process on timeout in windows for the coverage task (#3529)
  src/agent/Cargo.lock
  src/agent/coverage/Cargo.toml
  src/agent/coverage/src/record.rs
  src/agent/coverage/src/timer.rs
  src/agent/debugger/src/debugger.rs
Due: OneFuzz Agent

Add onefuzz service version to job created events (#3504)
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/OneFuzzTypes/Events.cs
Due: OneFuzz Service

Revert removal of command.
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

Another update.
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

adding back reference.
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

Updating iteration pr.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Revert removal of `onefuzz repro get_files...` command (#3541)
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

Add PR #3541
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

.
  src/ApiService/Tests/EventExportConverterTests.cs
Due: OneFuzz Service

Single entry results.
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service
