Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

codecov.yml:

ignore:
  - "src/agent/**/examples/"
  - "src/ApiService/*Tests/"

component_management:
  individual_components:
    - component_id: agent
      name: OneFuzz Agent
      paths:
        - src/agent/**
    - component_id: cli
      name: OneFuzz CLI
      paths:
        - src/cli/**
    - component_id: service
      name: OneFuzz Service
      paths:
        - src/ApiService/**

update hashbrown vers to meet ahash 8.5
  src/agent/Cargo.lock
  src/agent/coverage/fuzz/Cargo.lock
  src/proxy-manager/Cargo.lock
Due: OneFuzz Agent

updated hashbrown cksum
  src/proxy-manager/Cargo.lock
Due: none

test
  src/agent/Cargo.lock
Due: OneFuzz Agent

Update yanked crate
  src/agent/Cargo.lock
Due: OneFuzz Agent

updated ahash crate to 0.7.7
  src/agent/Cargo.lock
Due: OneFuzz Agent

remove fork sync
  .github/workflows/sync-fork.yml
Due: none

Improve slow Task queries
  src/ApiService/ApiService/Functions/AgentCanSchedule.cs
  src/ApiService/ApiService/Functions/AgentEvents.cs
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/Functions/QueueTaskHeartbeat.cs
  src/ApiService/ApiService/Functions/Tasks.cs
  src/ApiService/ApiService/Functions/TimerRetention.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/onefuzzlib/NodeOperations.cs
  src/ApiService/ApiService/onefuzzlib/ReproOperations.cs
  src/ApiService/ApiService/onefuzzlib/TaskOperations.cs
  src/ApiService/IntegrationTests/AgentEventsTests.cs
  src/ApiService/IntegrationTests/_FunctionTestBase.cs
  src/agent/onefuzz-agent/src/agent.rs
  src/agent/onefuzz-agent/src/agent/tests.rs
  src/agent/onefuzz-agent/src/coordinator.rs
  src/agent/onefuzz-agent/src/debug.rs
  src/agent/onefuzz-agent/src/main.rs
  src/agent/onefuzz-agent/src/work.rs
  src/agent/onefuzz-agent/src/worker.rs
  src/agent/onefuzz-agent/src/worker/tests.rs
Due: OneFuzz Agent, OneFuzz Service

Update ahash (#3593)
  src/agent/Cargo.lock
Due: OneFuzz Agent

testing
  .github/workflows/sync-fork.yml
  src/integration-tests/integration-test.py
Due: none

Update tests
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/Tests/RequestsTests.cs
Due: OneFuzz Service

Restore some back-compat
  src/ApiService/ApiService/Functions/AgentCanSchedule.cs
  src/ApiService/ApiService/Functions/AgentEvents.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
Due: OneFuzz Service

Restore all back-compat
  src/ApiService/ApiService/Functions/AgentEvents.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/agent/onefuzz-agent/src/agent.rs
  src/agent/onefuzz-agent/src/agent/tests.rs
  src/agent/onefuzz-agent/src/coordinator.rs
  src/agent/onefuzz-agent/src/debug.rs
Due: OneFuzz Agent, OneFuzz Service

Update test to match
  src/ApiService/Tests/RequestsTests.cs
Due: OneFuzz Service

Fixup test
  src/ApiService/Tests/RequestsTests.cs
Due: OneFuzz Service

Add input_path to dotnet report task expander (#3591)
  src/agent/onefuzz-task/src/tasks/report/dotnet/generic.rs
Due: OneFuzz Agent

Shortcut file-added earlier
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
Due: OneFuzz Service

Adding check for CreatedAt.
  src/ApiService/ApiService/Functions/QueueJobResult.cs
Due: OneFuzz Service

Making created_at optional.
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
Due: OneFuzz Service

Shortcut file-added earlier (#3596)
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
Due: OneFuzz Service

Trying again.
  src/ApiService/ApiService/Functions/QueueJobResult.cs
Due: OneFuzz Service

Improve slow Task queries (#3594)
  src/ApiService/ApiService/Functions/AgentCanSchedule.cs
  src/ApiService/ApiService/Functions/AgentEvents.cs
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/Functions/QueueTaskHeartbeat.cs
  src/ApiService/ApiService/Functions/Tasks.cs
  src/ApiService/ApiService/Functions/TimerRetention.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/onefuzzlib/NodeOperations.cs
  src/ApiService/ApiService/onefuzzlib/ReproOperations.cs
  src/ApiService/ApiService/onefuzzlib/TaskOperations.cs
  src/ApiService/IntegrationTests/AgentEventsTests.cs
  src/ApiService/IntegrationTests/_FunctionTestBase.cs
  src/ApiService/Tests/RequestsTests.cs
  src/agent/onefuzz-agent/src/agent.rs
  src/agent/onefuzz-agent/src/agent/tests.rs
  src/agent/onefuzz-agent/src/coordinator.rs
  src/agent/onefuzz-agent/src/debug.rs
  src/agent/onefuzz-agent/src/main.rs
  src/agent/onefuzz-agent/src/work.rs
  src/agent/onefuzz-agent/src/worker.rs
  src/agent/onefuzz-agent/src/worker/tests.rs
Due: OneFuzz Agent, OneFuzz Service

Set function timeout to 12 hours.
  src/ApiService/ApiService/host.json
Due: OneFuzz Service

Parallelize some timer work
  src/ApiService/ApiService/Functions/TimerTasks.cs
  src/ApiService/ApiService/Functions/TimerWorkers.cs
  src/ApiService/ApiService/onefuzzlib/NodeOperations.cs
Due: OneFuzz Service

Undo some parallelism
  src/ApiService/ApiService/Functions/TimerTasks.cs
  src/ApiService/ApiService/onefuzzlib/JobOperations.cs
Due: OneFuzz Service

Revert "Revert PR #3494 "Disable `repro` and `debug` VM CLI commands. " (#3557)"
  src/cli/onefuzz/api.py
  src/cli/onefuzz/debug.py
Due: OneFuzz CLI

Add room for a link to documentation on OOM task failure
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Remove.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Add log statement.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Remove function handle.:
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Updating
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Concat names
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Set version.
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
  src/agent/onefuzz-result/src/job_result.rs
Due: OneFuzz Agent, OneFuzz Service

cargo fmt
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Fix variable name
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Create temp working directory for each libfuzzer invocation
  src/agent/Cargo.lock
  src/agent/coverage/fuzz/Cargo.toml
  src/agent/onefuzz-agent/Cargo.toml
  src/agent/onefuzz-agent/src/validations.rs
  src/agent/onefuzz-task/src/tasks/fuzz/libfuzzer/common.rs
  src/agent/onefuzz/src/libfuzzer.rs
Due: OneFuzz Agent

Increasing Azure App Function Timeout to 12 Hours (#3599)
  src/ApiService/ApiService/host.json
Due: OneFuzz Service

Move intial coverage report farther into task start.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Keeping both calls.
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

JobResult Table Re-design - Improved task- and machine- granularity (#3539)
  src/ApiService/ApiService/Functions/QueueJobResult.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
  src/agent/Cargo.lock
  src/agent/onefuzz-result/Cargo.toml
  src/agent/onefuzz-result/src/job_result.rs
Due: OneFuzz Agent, OneFuzz Service

Move initial coverage reporting to later in startup to capture read-only inputs (#3605)
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent
