Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

Retry.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

trying with unique guid.
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Generic string type.
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

putting it back.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Add a start time to the job and task
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Responses.cs
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Service

Add a start time to the job and task (#3440)
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Responses.cs
  src/pytypes/onefuzztypes/models.py
Due: OneFuzz Service

removing old update code.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

removing comment.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
  src/proxy-manager/Cargo.lock
Due: OneFuzz Service

storing the ado notification title and work item id return the list of job created in the job_summary
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/OneFuzzTypes/Responses.cs
  src/ApiService/ApiService/Program.cs
  src/ApiService/ApiService/onefuzzlib/AdoNotificationEntryOperation.cs
  src/ApiService/ApiService/onefuzzlib/OnefuzzContext.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/ApiService/FunctionalTests/1f-api/Jobs.cs
  src/ApiService/IntegrationTests/Fakes/TestAdoNotificationEntryOperations.cs
  src/ApiService/IntegrationTests/Fakes/TestContext.cs
  src/ApiService/IntegrationTests/JobsTests.cs
  src/cli/onefuzz/api.py
  src/pytypes/onefuzztypes/models.py
  src/pytypes/onefuzztypes/requests.py
Due: OneFuzz CLI, OneFuzz Service

Attempting to partition on task_id, machine_id, and event type.
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Using replace and update.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

remove bug list and add has_bugs
  src/ApiService/ApiService/Functions/Jobs.cs
  src/ApiService/ApiService/OneFuzzTypes/Requests.cs
  src/ApiService/ApiService/OneFuzzTypes/Responses.cs
  src/ApiService/ApiService/onefuzzlib/AdoNotificationEntryOperation.cs
  src/cli/onefuzz/api.py
  src/pytypes/onefuzztypes/models.py
  src/pytypes/onefuzztypes/requests.py
Due: OneFuzz CLI, OneFuzz Service

fix test
  src/ApiService/IntegrationTests/JobsTests.cs
Due: OneFuzz Service

Add logging statement.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

UPdating such that we query.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Cleanup and better tests
  src/ApiService/ApiService/onefuzzlib/Events.cs
  src/ApiService/ApiService/onefuzzlib/WebhookOperations.cs
  src/ApiService/ApiService/onefuzzlib/events/Converters.cs
  src/ApiService/Tests/EventExportConverterTests.cs
  src/ApiService/Tests/OrmModelsTest.cs
Due: OneFuzz Service

Fix allowlist extend
  src/agent/coverage/src/allowlist.rs
Due: OneFuzz Agent

Fix broken tests
  src/agent/coverage/src/allowlist/tests.rs
Due: OneFuzz Agent

Rename function to convey behavior
  src/agent/coverage/src/allowlist.rs
  src/agent/coverage/src/allowlist/tests.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

fmt
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

docs
  src/agent/coverage/src/allowlist.rs
Due: OneFuzz Agent

Fix default windows interceptor list (#3549)
  src/agent/coverage/src/allowlist.rs
  src/agent/coverage/src/allowlist/tests.rs
  src/agent/onefuzz-task/src/tasks/coverage/generic.rs
Due: OneFuzz Agent

Added PRs #3440 & #3549
  CHANGELOG.md
Due: none

log the command line as info
  src/agent/onefuzz/src/libfuzzer.rs
Due: OneFuzz Agent

Fixup onefuzz-task dependencies
  src/agent/onefuzz-task/src/check_for_update.rs
  src/agent/onefuzz-task/src/main.rs
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

format
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

log the command line as info (#3551)
  src/agent/onefuzz/src/libfuzzer.rs
Due: OneFuzz Agent

Add PR #3551
  CHANGELOG.md
Due: none

Fixup onefuzz-task dependencies (#3552)
  src/agent/onefuzz-task/src/check_for_update.rs
  src/agent/onefuzz-task/src/main.rs
  src/agent/onefuzz-task/src/managed/cmd.rs
Due: OneFuzz Agent

Return the failure from NotifyAdo as result instead of an exception
  src/ApiService/ApiService/Functions/NotificationsTest.cs
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/TestHooks/NotificationOperationsTestHooks.cs
  src/ApiService/ApiService/onefuzzlib/NotificationOperations.cs
  src/ApiService/ApiService/onefuzzlib/notifications/Ado.cs
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz Service

remove comment
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

requeue when notification fails
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

fix logic
  src/ApiService/ApiService/Functions/QueueFileChanges.cs
Due: OneFuzz Service

Revert "Revert removal of `onefuzz repro get_files...` command (#3541)"
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

Revert "Disable `repro` and `debug` VM CLI commands. (#3494)"
  src/cli/onefuzz/api.py
  src/cli/onefuzz/debug.py
  src/integration-tests/integration-test.py
Due: OneFuzz CLI

Revert PR #3494 "Disable `repro` and `debug` VM CLI commands. " (#3557)
  src/cli/onefuzz/api.py
  src/cli/onefuzz/debug.py
  src/integration-tests/integration-test.py
Due: OneFuzz CLI

Release 8.9.0
  CHANGELOG.md
  CURRENT_VERSION
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

rust trace
  .github/workflows/ci.yml
  src/agent/onefuzz-task/src/tasks/generic/input_poller.rs
  src/agent/onefuzz-task/src/tasks/report/generic.rs
  src/runtime-tools/linux/run.sh
  src/runtime-tools/linux/set-env.sh
  src/runtime-tools/win64/onefuzz.ps1
  src/runtime-tools/win64/set-env.ps1
Due: OneFuzz Agent

Path conditions:
  OneFuzz Agent: any of: src/agent/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz CLI: any of: src/cli/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz Service: any of: src/ApiService/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
