Repository microsoft/onefuzz: changes, and which Codecov flags are due for each by the changed paths.
All: OneFuzz Agent, OneFuzz CLI, OneFuzz Service

Update supervisor.rs
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
Due: OneFuzz Agent

Updated AFL crash and input folder
  src/agent/onefuzz-task/src/tasks/fuzz/supervisor.rs
Due: OneFuzz Agent

Include all loader errors when failing
  src/agent/dynamic-library/src/bin/dynamic-library.rs
  src/agent/dynamic-library/src/linux.rs
  src/agent/dynamic-library/src/windows.rs
  src/agent/onefuzz/src/libfuzzer.rs
  src/proxy-manager/Cargo.lock
Due: OneFuzz Agent

Missed one
  src/agent/dynamic-library/src/linux.rs
Due: OneFuzz Agent

build fix
  src/agent/dynamic-library/src/bin/dynamic-library.rs
Due: OneFuzz Agent

Missed another
  src/agent/dynamic-library/src/bin/dynamic-library.rs
Due: OneFuzz Agent

attempting to try update.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Trying different update mechanism.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Release 8.9.0 (#3558)
  CHANGELOG.md
  CURRENT_VERSION
Due: none

Removing repro test.
  src/integration-tests/integration-test.py
Due: none

Remove `repro` test from integration tests (#3560)
  src/integration-tests/integration-test.py
Due: none

Update feature-flags.bicep
  src/deployment/bicep-templates/feature-flags.bicep
Due: none

Fix api.py
  src/cli/onefuzz/api.py
Due: OneFuzz CLI

Event export serializer (#3543)
  src/ApiService/ApiService/FeatureFlags.cs
  src/ApiService/ApiService/onefuzzlib/Events.cs
  src/ApiService/ApiService/onefuzzlib/WebhookOperations.cs
  src/ApiService/ApiService/onefuzzlib/events/Converters.cs
  src/ApiService/Tests/EventExportConverterTests.cs
  src/ApiService/Tests/OrmModelsTest.cs
  src/deployment/bicep-templates/feature-flags.bicep
Due: OneFuzz Service

Checking previous value.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

cleanup.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Removing old model.
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
Due: OneFuzz Service

Case guard for better readability.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Fix import ordering.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Removing duplicate code.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

accidentally didn't include update.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Constructing the wrong way.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Include all loader errors when failing (#3509)
  src/agent/dynamic-library/src/bin/dynamic-library.rs
  src/agent/dynamic-library/src/linux.rs
  src/agent/dynamic-library/src/windows.rs
  src/agent/onefuzz/src/libfuzzer.rs
  src/proxy-manager/Cargo.lock
Due: OneFuzz Agent

Moving back to standard switch.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Removing old code.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Removing more old code.
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Add a middleware for strict version checking
  src/ApiService/ApiService/OneFuzzTypes/Enums.cs
  src/ApiService/ApiService/Program.cs
  src/cli/onefuzz/backend.py
  src/pytypes/onefuzztypes/enums.py
Due: OneFuzz CLI, OneFuzz Service

Using constants.
  src/ApiService/ApiService/OneFuzzTypes/Model.cs
  src/ApiService/ApiService/onefuzzlib/JobResultOperations.cs
Due: OneFuzz Service

Adding new UniqueReport metric for attempts.
  src/agent/onefuzz-result/src/job_result.rs
  src/agent/onefuzz-task/src/tasks/report/crash_report.rs
Due: OneFuzz Agent

add
  src/proxy-manager/Cargo.lock
Due: none

Removing repro.
  src/integration-tests/integration-test.py
Due: none

Removing more repro steps.
  src/integration-tests/integration-test.py
Due: none

Fill in doc comments
  src/ApiService/ApiService/Program.cs
Due: OneFuzz Service

Move header names to constants
  src/ApiService/ApiService/Program.cs
Due: OneFuzz Service

rename metric
  src/agent/onefuzz-result/src/job_result.rs
  src/agent/onefuzz-task/src/tasks/report/crash_report.rs
Due: OneFuzz Agent

lock
  src/proxy-manager/Cargo.lock
Due: none

Make version middleware more easily testable and add first unit test
  src/ApiService/ApiService/Program.cs
  src/ApiService/FunctionalTests/FunctionalTests.csproj
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
  src/ApiService/FunctionalTests/packages.lock.json
Due: OneFuzz Service

Add the rest of the version check unit tests
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
Due: OneFuzz Service

Fix build errors for dropped FluentAssertions return values in other tests
  src/ApiService/ApiService/Program.cs
  src/ApiService/FunctionalTests/Auth.cs
  src/ApiService/FunctionalTests/TestContainer.cs
  src/ApiService/FunctionalTests/TestInfo.cs
  src/ApiService/FunctionalTests/TestNode.cs
  src/ApiService/FunctionalTests/TestPool.cs
  src/ApiService/FunctionalTests/TestProxy.cs
  src/ApiService/FunctionalTests/TestScaleset.cs
  src/ApiService/FunctionalTests/TestTasks.cs
Due: OneFuzz Service

dotnet format
  src/ApiService/FunctionalTests/TestVersionCheckMiddleware.cs
Due: OneFuzz Service

Path conditions:
  OneFuzz Agent: any of: src/agent/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz CLI: any of: src/cli/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
  OneFuzz Service: any of: src/ApiService/**, but not: src/agent/**/examples/, src/ApiService/*Tests/
